<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Create</title>
</head>
<body>

<form name="ctrlEventCreate.form1" novalidate>

<h2>Event create</h2>

<div layout="row">

    <div flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Event Name</label>
            <input type="text" name="eventname" ng-model="ctrlEventCreate.event.name" required ng-maxlength="200"/>

            <div ng-messages="ctrlEventCreate.form1.eventname.$error" role="alert" ng-show="ctrlEventCreate.form1.eventname.$touched || ctrlEventCreate.form1.$submitted">
                <div ng-messages-include="error-messages"></div>
            </div>

        </md-input-container>
    </div>

</div>

<div layout="row">

    <div flex>
        <md-datepicker name="startdate" ng-model="ctrlEventCreate.event.start_date" md-placeholder="Start Date" required></md-datepicker>

        <div ng-messages="ctrlEventCreate.form1.startdate.$error" role="alert" ng-show="ctrlEventCreate.form1.startdate.$touched || ctrlEventCreate.form1.$submitted">
            <div ng-messages-include="error-messages"></div>
        </div>
    </div>

    <div flex>

        <md-datepicker name="enddate" ng-model="ctrlEventCreate.event.end_date" md-placeholder="End Date" required></md-datepicker>

        <div ng-messages="ctrlEventCreate.form1.enddate.$error" role="alert" ng-show="ctrlEventCreate.form1.enddate.$touched || ctrlEventCreate.form1.$submitted">
            <div ng-messages-include="error-messages"></div>
        </div>
    </div>

</div>

<div layout="row">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Notes</label>
        <textarea ng-model="ctrlEventCreate.event.notes"></textarea>
    </md-input-container>
</div>


<div layout="row" layout-xs="column">
    <div flex layout="column">
        <md-button class="md-raised md-primary" ng-click="ctrlEventCreate.createEvent()">Submit</md-button>
    </div>
    <div flex layout="column">
        <md-button class="md-raised" ui-sref="app.events">Cancel</md-button>
    </div>
</div>

</form>

</body>
</html>