<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Detail</title>
</head>
<body>
<h2>Event details</h2>

<div layout="row">
    <div flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Event Name</label>
            <input type="text" ng-model="ctrlEventDetail.event.name"/>
        </md-input-container>
    </div>

</div>

<md-datepicker ng-model="ctrlEventDetail.event.start_date" md-placeholder="Start Date" utc-Parser></md-datepicker>

<md-datepicker ng-model="ctrlEventDetail.event.end_date" md-placeholder="End Date" utc-Parser></md-datepicker>


<div layout="row">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Notes</label>
        <textarea ng-model="ctrlEventDetail.event.notes"></textarea>
    </md-input-container>
</div>

<div layout="row">
    <div flex>

        <select ng-model="ctrlEventDetail.selectedProduct" ng-options="p as p.name for p in ctrlEventDetail.products"></select>

        <input type="text" name="quantity" placeholder="Quantity" ng-model="ctrlEventDetail.selectedQuantity"/>

        <md-button class="md-raised md-primary" ng-click="ctrlEventDetail.addProduct()">Add</md-button>
    </div>
</div>

<div layout="row" ng-repeat="ep in ctrlEventDetail.event.event_products">
    <div flex>
        {{ep.product.name}} x {{ep.quantity}}
        (<a href="#" ng-click="ctrlEventDetail.deleteProduct($event, ep.product_id)">Delete</a>)
    </div>

</div>


<div layout="row" layout-xs="column">
    <div flex layout="column">
        <md-button class="md-raised md-primary" ng-click="ctrlEventDetail.updateEvent()">Submit</md-button>
    </div>
    <div flex layout="column">
        <md-button class="md-raised md-warn" ng-click="ctrlEventDetail.showDeleteConfirm()">Delete</md-button>
    </div>
    <div flex layout="column">
        <md-button class="md-raised" ui-sref="app.events">Cancel</md-button>
    </div>
</div>
</body>
</html>