<title>Other</title>
<div>
    <md-list>
        <md-list-item>
            <a href="#/units" class="nounderline">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="sync"></ng-md-icon>
                    </div>
                    <div class="inset">Units</div>
                </md-item-content>
            </a>
        </md-list-item>
        <md-list-item>
            <a href="#/paymenttypes" class="nounderline">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="attach_money"></ng-md-icon>
                    </div>
                    <div class="inset">Payment Types</div>
                </md-item-content>
            </a>
        </md-list-item>

        <md-list-item>
            <a href="#/materials" class="nounderline">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="work"></ng-md-icon>
                    </div>
                    <div class="inset">Materials</div>
                </md-item-content>
            </a>
        </md-list-item>

        <md-list-item>
            <a href="#/materialsets" class="nounderline">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="queue"></ng-md-icon>
                    </div>
                    <div class="inset">Material Sets</div>
                </md-item-content>
            </a>
        </md-list-item>
    </md-list>
</div>
