<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Materials</title>
</head>
<body>

<div layout="row">
    <md-subheader class="md-primary">Materials</md-subheader>
</div>

<md-table-container>
    <table md-table>
        <thead md-head md-order="materialOrder">
        <tr md-row>
            <th md-column md-order-by="name">Name</th>
            <th md-column md-order-by="unit_cost">Unit Cost</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="m in ctrlMaterial.materials | orderBy: materialOrder">
            <td md-cell><a ui-sref="app.materials.detail({materialId: m.id})" class="nounderline">{{m.name}}</a></td>
            <td md-cell>{{m.unit_cost}} / <strong>{{m.unit.name}}</strong></td>
        </tr>
        </tbody>
    </table>
</md-table-container>

</body>
</html>