<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Type Detail</title>
</head>
<body>
<h2>Payment Type details</h2>

<md-input-container class="md-block" flex-gt-sm>
    <label>Name</label>
    <input type="text" ng-model="ctrlPaymentTypeDetail.paymenttype.name"/>
</md-input-container>

<br/>

<md-button class="md-raised md-primary" ng-click="ctrlPaymentTypeDetail.updatePaymentType()">Submit</md-button>
<md-button class="md-raised md-warn" ng-click="ctrlPaymentTypeDetail.showDeleteConfirm()">Delete</md-button>
<md-button class="md-raised" ui-sref="app.paymenttypes">Cancel</md-button>
</body>
</html>