<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
</head>
<body>
<h2>Product details</h2>

<div layout="row">
    <div flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Product Name</label>
            <input type="text" ng-model="ctrlProductDetail.product.name"/>
        </md-input-container>
    </div>

    <div flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label>SKU</label>
            <input type="text" ng-model="ctrlProductDetail.product.sku"/>
        </md-input-container>
    </div>
</div>

<div layout="row">
    <div flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Price</label>
            <input type="text" ng-model="ctrlProductDetail.product.price"/>
        </md-input-container>
    </div>

    <div flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Cost</label>
            <input type="text" ng-model="ctrlProductDetail.product.cost"/>
        </md-input-container>
    </div>
</div>

<div layout="row">
    <div flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Minimum Stock</label>
            <input type="text" ng-model="ctrlProductDetail.product.minimum_stock"/>
        </md-input-container>
    </div>

    <div flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Current Stock</label>
            <input type="text" ng-model="ctrlProductDetail.product.current_stock"/>
        </md-input-container>
    </div>
</div>

<div layout="row">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Description</label>
        <textarea ng-model="ctrlProductDetail.product.description"></textarea>
    </md-input-container>
</div>

<div layout="row">
    <div flex>

        <select ng-model="ctrlProductDetail.selectedMaterial" ng-options="p as p.name for p in ctrlProductDetail.materials"></select>

        <input type="text" name="quantity" placeholder="Quantity" ng-model="ctrlProductDetail.selectedQuantity"/>

        <md-button class="md-raised md-primary" ng-click="ctrlProductDetail.addMaterial()">Add</md-button>
    </div>
</div>

<div layout="row" ng-repeat="pm in ctrlProductDetail.product.product_materials">
    <div flex>
        {{pm.material.name}} x {{pm.quantity}} (@{{pm.material.unit_cost}} each = ${{pm.material.unit_cost * pm.quantity }} )
        (<a href="#" ng-click="ctrlProductDetail.deleteMaterial($event, pm.material_id)">Delete</a>)
    </div>

</div>


<div layout="row">
    <div flex="10">
        <md-button class="md-raised md-primary" ng-click="ctrlProductDetail.updateProduct()">Submit</md-button>
    </div>
    <div flex="10">
        <md-button class="md-raised md-warn" ng-click="ctrlProductDetail.showDeleteConfirm($event)">Delete</md-button>
    </div>
    <div flex="10">
        <md-button class="md-raised" ui-sref="app.products">Cancel</md-button>
    </div>
</div>


</body>
</html>