<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
</head>
<body>

<form name="ctrlProductDetail.form1" novalidate>

<h2>Product details</h2>

<div>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="General">

            <div layout="row" layout-padding>
                <div flex>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Product Name</label>
                        <input type="text" name="productname" ng-model="ctrlProductDetail.product.name" required ng-minlength="5" ng-maxlength="200"/>

                        <div ng-messages="ctrlProductDetail.form1.productname.$error" role="alert" ng-show="ctrlProductDetail.form1.productname.$touched || ctrlProductDetail.form1.$submitted">
                            <div ng-messages-include="error-messages"></div>
                        </div>

                    </md-input-container>
                </div>

                <div flex>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>SKU</label>
                        <input type="text" name="sku" ng-model="ctrlProductDetail.product.sku" required ng-minlength="1" ng-maxlength="100"/>

                        <div ng-messages="ctrlProductDetail.form1.sku.$error" role="alert" ng-show="ctrlProductDetail.form1.sku.$touched || ctrlProductDetail.form1.$submitted">
                            <div ng-messages-include="error-messages"></div>
                        </div>

                    </md-input-container>
                </div>
            </div>

            <div layout="row" layout-padding>
                <div flex>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Price</label>
                        <input type="text" name="price" ng-model="ctrlProductDetail.product.price" required ng-pattern="ctrlProductDetail.decimalRegex"/>

                        <div ng-messages="ctrlProductDetail.form1.price.$error" role="alert" ng-show="ctrlProductDetail.form1.price.$touched || ctrlProductDetail.form1.$submitted">
                            <div class="errorMessage" ng-message="pattern">This field must be a number</div>
                            <div ng-messages-include="error-messages"></div>
                        </div>

                    </md-input-container>
                </div>

                <div flex>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Cost</label>
                        <input type="text" name="cost" ng-model="ctrlProductDetail.product.cost" required ng-pattern="ctrlProductDetail.decimalRegex"/>

                        <div ng-messages="ctrlProductDetail.form1.cost.$error" role="alert" ng-show="ctrlProductDetail.form1.cost.$touched || ctrlProductDetail.form1.$submitted">
                            <div class="errorMessage" ng-message="pattern">This field must be a number</div>
                            <div ng-messages-include="error-messages"></div>
                        </div>

                    </md-input-container>
                </div>
            </div>

            <div layout="row" layout-padding>
                <div flex>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Minimum Stock</label>
                        <input type="text" name="minimum_stock" ng-model="ctrlProductDetail.product.minimum_stock" ng-pattern="ctrlProductDetail.numericRegex"/>

                        <div ng-messages="ctrlProductDetail.form1.minimum_stock.$error" role="alert" ng-show="ctrlProductDetail.form1.minimum_stock.$touched || ctrlProductDetail.form1.$submitted">
                            <div class="errorMessage" ng-message="pattern">This field must be a number</div>
                            <div ng-messages-include="error-messages"></div>
                        </div>

                    </md-input-container>
                </div>

                <div flex>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Current Stock</label>
                        <input type="text" name="current_stock" ng-model="ctrlProductDetail.product.current_stock" ng-pattern="ctrlProductDetail.numericRegex"/>

                        <div ng-messages="ctrlProductDetail.form1.current_stock.$error" role="alert" ng-show="ctrlProductDetail.form1.current_stock.$touched || ctrlProductDetail.form1.$submitted">
                            <div class="errorMessage" ng-message="pattern">This field must be a number</div>
                            <div ng-messages-include="error-messages"></div>
                        </div>

                    </md-input-container>
                </div>
            </div>

            <div layout="row" layout-padding>
                <div flex>
                <md-checkbox ng-model="ctrlProductDetail.product.is_custom" ng-true-value="1" ng-false-value="0" aria-label="Custom Product">
                    Custom Product
                </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Description</label>
                    <textarea ng-model="ctrlProductDetail.product.description"></textarea>
                </md-input-container>
            </div>

        </md-tab>

        <md-tab label="Materials">

            <div layout="row" layout-padding>

                <div flex>
                Add materials by:&nbsp;
                <md-radio-group layout="row" ng-model="ctrlProductDetail.cbAddMaterialsBy">
                    <md-radio-button value="1">Item</md-radio-button>
                    <md-radio-button value="2">Set</md-radio-button>
                </md-radio-group>
                </div>
            </div>

            <div layout="row" ng-show="ctrlProductDetail.cbAddMaterialsBy == 1" layout-padding>
                <div flex>

                    <select ng-model="ctrlProductDetail.selectedMaterial" ng-options="p as p.name for p in ctrlProductDetail.materials"></select>

                    <input type="text" name="quantity" placeholder="Quantity" ng-model="ctrlProductDetail.selectedQuantity"/>

                    <md-button class="md-raised md-primary" ng-click="ctrlProductDetail.addMaterial()">Add</md-button>
                </div>
            </div>

            <div layout="row" ng-show="ctrlProductDetail.cbAddMaterialsBy == 2" layout-padding>
                <div flex>
                    <select ng-model="ctrlProductDetail.selectedMaterialSet" ng-options="s as s.name for s in ctrlProductDetail.materialSets"></select>

                    <md-button class="md-raised md-primary" ng-click="ctrlProductDetail.addMaterialSet()">Add</md-button>
                </div>
            </div>

            <div layout="row" layout-padding>
                <div flex>

                    <md-list>
                        <md-list-item ng-repeat="pm in ctrlProductDetail.product.product_materials">
                            {{pm.material.name}} x {{pm.quantity}} (@{{pm.material.unit_cost}} each = ${{pm.material.unit_cost * pm.quantity }} )
                            <md-button ng-click="ctrlProductDetail.deleteMaterial($event, pm.material_id)" aria-label="Delete Material"><ng-md-icon icon="delete"></ng-md-icon></md-button>
                        </md-list-item>
                    </md-list>

                </div>

            </div>


        </md-tab>

    </md-tabs>


</div>

<div layout="row" layout-xs="column">
    <div flex layout="column">
        <md-button class="md-raised md-primary" ng-click="ctrlProductDetail.updateProduct()">Submit</md-button>
    </div>
    <div flex layout="column">
        <md-button class="md-raised md-warn" ng-click="ctrlProductDetail.showDeleteConfirm($event)">Delete</md-button>
    </div>
    <div flex layout="column">
        <md-button class="md-raised" ui-sref="app.products">Cancel</md-button>
    </div>
</div>

</form>

</body>
</html>