
<div layout="row">
    <div flex>

        <md-table-container>
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column>W.O #</th>
                    <th md-column>Product</th>
                    <th md-column>Customer</th>
                    <th md-column>Amount Owing</th>
                    <th md-column>Start Date</th>
                    <th md-column>Notes</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="w in ctrlReport.weekworkorders">
                    <td md-cell>W.O #{{w.id}}</td>
                    <td md-cell>{{w.product.name}}</td>
                    <td md-cell>{{w.customer.first_name}} {{w.customer.last_name}}</td>
                    <td md-cell>{{w.purchase_order.total - w.purchase_order.amount_paid}}</td>
                    <td md-cell>{{w.start_date | amDateFormat:'MM-DD-YYYY'}}</td>
                    <td md-cell>{{w.notes}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</div>
