<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>
</head>
<body>
    <ul>
        <li><a href="#/reports/currentstock">Stock Report</a></li>
        <li><a href="#/reports/sales">Sales Report</a></li>
        <li><a href="#/reports/salesbymonth">Sales by Month</a></li>
    </ul>

    <div layout="row">
        <div flex>
            <highchart id="topSelling" config="ctrlReport.topSellingChartConfig" class="span10"></highchart>
        </div>
    </div>



</body>
</html>