
<div layout="row">
    <div flex>


        <table class="reportTable">
            <thead>
            <tr>
                <th>W.O #</th>
                <th>Product</th>
                <th>Customer</th>
                <th>Amount Owing</th>
                <th>Due Date</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="w in ctrlReport.weekworkorders">
                <table width="100%">
                    <tbody>
                        <tr>
                            <td>W.O #{{w.id}}</td>
                            <td>{{w.product.name}}</td>
                            <td>{{w.customer.first_name}} {{w.customer.last_name}}</td>
                            <td>{{w.purchase_order.total - w.purchase_order.amount_paid}}</td>
                            <td>{{w.end_date | amDateFormat:'MM-DD-YYYY'}}</td>
                            <td>{{w.notes}}</td>
                        </tr>
                    </tbody>
                </table>
            </tr>
            </tbody>
        </table>

    </div>
</div>
