<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unit Detail</title>
</head>
<body>

<form name="ctrlUnitDetail.form1" novalidate>

<h2>Unit details</h2>

<md-input-container class="md-block" flex-gt-sm>
    <label>Name</label>
    <input type="text" name="unitname" ng-model="ctrlUnitDetail.unit.name" required ng-maxlength="200"/>

    <div ng-messages="ctrlUnitDetail.form1.unitname.$error" role="alert" ng-show="ctrlUnitDetail.form1.unitname.$touched || ctrlUnitDetail.form1.$submitted">
        <div ng-messages-include="error-messages"></div>
    </div>

</md-input-container>

<div layout="row" layout-xs="column">
    <div flex layout="column">
        <md-button class="md-raised md-primary" ng-click="ctrlUnitDetail.updateUnit()">Submit</md-button>
    </div>
    <div flex layout="column">
        <md-button class="md-raised md-warn" ng-click="ctrlUnitDetail.showDeleteConfirm()">Delete</md-button>
    </div>
    <div flex layout="column">
        <md-button class="md-raised" ui-sref="app.units">Cancel</md-button>
    </div>
</div>

</form>

</body>
</html>