<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Units</title>
</head>
<body>

<md-list>
    <md-list-item class="md-3-line" ng-repeat="u in ctrlUnit.units">
        <div class="md-list-item-text" layout="column">
            <h3><a ui-sref="app.units.detail({unitId: u.id})" class="nounderline">{{u.name}}</a></h3>
        </div>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>

<md-button class="md-fab md-fab-bottom-right" aria-label=”Add”>
    <ng-md-icon icon="add" ui-sref="app.units.create"></ng-md-icon>
</md-button>

</body>
</html>