<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work Orders</title>
</head>
<body>
<div>

    <div layout="row">
        <md-switch class="md-primary" ng-model="ctrlWorkOrder.showIncompleteOnly" aria-label="Incomplete Only">
            Incomplete Only
        </md-switch>
    </div>

    <div layout="row">
        <div flex></div>
        <div flex>Product</div>
        <div flex>Customer</div>
        <div flex>Start Date</div>
        <div flex>End Date</div>
        <div flex>Complete</div>
    </div>

    <div ng-repeat="w in ctrlWorkOrder.workorders">

        <div layout="row" ng-show="{{ctrlWorkOrder.showIncompleteOnly}}">
            <div flex>
                <a ui-sref="app.workorders.detail({workOrderId: w.id})">Work Order {{w.id}}</a>
            </div>
            <div flex><a ui-sref="app.products.detail({productId: w.product.id})">{{w.product.name}}</a></div>
            <div flex><a ui-sref="app.customers.detail({customerId: w.customer.id})">{{w.customer.first_name}} {{w.customer.last_name}}</a></div>
            <div flex>{{w.start_date}}</div>
            <div flex>{{w.end_date}}</div>
            <div flex>{{w.completed ? 'Yes' : 'No'}}</div>
        </div>
    </div>
</div>
<hr/>
<md-button class="md-raised md-primary" ui-sref="app.workorders.create">Create Work Order</md-button>
</body>
</html>