<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work Order Create</title>
</head>
<body>
<h2>Work Order create</h2>

<md-input-container>
    <label>Customer</label>
    <md-select ng-model="ctrlWorkOrderCreate.workorder.customer_id">
        <md-option ng-repeat="c in ctrlWorkOrderCreate.customers" value="{{c.id}}">
            {{c.first_name}} {{c.last_name}}
        </md-option>
    </md-select>
</md-input-container>
<br/>
<md-input-container>
    <label>Product</label>
    <md-select ng-model="ctrlWorkOrderCreate.workorder.product_id">
        <md-option ng-repeat="p in ctrlWorkOrderCreate.products" value="{{p.id}}">
            {{p.name}}
        </md-option>
    </md-select>
</md-input-container>
<br/>

<div layout="row">
    <div flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Quantity</label>
            <input type="text" ng-model="ctrlWorkOrderCreate.workorder.quantity"/>
        </md-input-container>
    </div>
</div>

<md-datepicker ng-model="ctrlWorkOrderCreate.workorder.start_date" md-placeholder="Start Date"></md-datepicker>

<md-datepicker ng-model="ctrlWorkOrderCreate.workorder.end_date" md-placeholder="End Date"></md-datepicker>

<md-switch class="md-primary" ng-model="ctrlWorkOrderCreate.workorder.completed" aria-label="Completed">
    Completed: {{ ctrlWorkOrderCreate.workorder.completed }}
</md-switch>

<md-input-container class="md-block" flex-gt-sm>
    <label>Notes</label>
    <textarea ng-model="ctrlWorkOrderCreate.workorder.notes"></textarea>
</md-input-container>


<div layout="row" layout-xs="column">
    <div flex layout="column">
        <md-button class="md-raised md-primary" ng-click="ctrlWorkOrderCreate.createWorkOrder()">Submit</md-button>
    </div>
    <div flex layout="column">
        <md-button class="md-raised" ui-sref="app.workorders">Cancel</md-button>
    </div>
</div>


</body>
</html>