<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work Orders</title>
</head>
<body>
<div>

    <md-table-container>
        <table md-table md-row-select ng-model="">
            <thead md-head>
                <tr md-row>
                    <th md-column></th>
                    <th md-column>Product</th>
                    <th md-column>Customer</th>
                    <th md-column>Start Date</th>
                    <th md-column>End Date</th>
                    <th md-column>Complete</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="w in ctrlWorkOrder.workorders">
                    <td md-cell>W.O #{{w.id}}</td>
                    <td md-cell><a ui-sref="app.products.detail({productId: w.product.id})" class="nounderline">{{w.product.name}}</a></td>
                    <td md-cell><a ui-sref="app.customers.detail({customerId: w.customer.id})" class="nounderline">{{w.customer.first_name}} {{w.customer.last_name}}</a></td>
                    <td md-cell>{{w.start_date | amDateFormat:'YYYY-MM-DD'}}</td>
                    <td md-cell><span ng-class="ctrlWorkOrder.setUrgency(w.end_date)">{{w.end_date | amDateFormat:'YYYY-MM-DD'}}</span></td>
                    <td md-cell>{{w.completed == 1 ? 'Yes' : 'No'}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>


    <div layout="row">
        <md-switch class="md-primary" ng-model="ctrlWorkOrder.showComplete" ng-change="ctrlWorkOrder.toggleCompleteOnly(ctrlWorkOrder.showComplete)" aria-label="Show Complete">
            Show Complete {{ctrlWorkOrder.showComplete}}
        </md-switch>
    </div>

</div>

<md-button class="md-fab md-fab-bottom-right" aria-label=”Add”>
    <ng-md-icon icon="add" ui-sref="app.workorders.create"></ng-md-icon>
</md-button>

</body>
</html>