[ng-click]:hover {
  cursor: pointer;
}

.nounderline {
  text-decoration: none;
}

.closestWorkOrder {
  color: red;
}

.closerWorkOrder {
  color: orange;
}

.closeWorkOrder {
  color: cornflowerblue;
}

.farWorkOrder {
  color: green;
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.profileImage {
  width: 40px;
  height: 40px;
}