<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<div layout="row">
    <div flex>Name</div>
    <div flex>Start Date</div>
    <div flex>End Date</div>
</div>
<div>
    <div ng-repeat="e in ctrlEvent.events" layout="row">
        <div flex><a ui-sref="app.events.detail({eventId: e.id})">{{e.name}}</a></div>
        <div flex>{{e.start_date | amDateFormat:'YYYY-MM-DD'}}</div>
        <div flex>{{e.end_date | amDateFormat:'YYYY-MM-DD'}}</div>
    </div>
</div>

<md-button class="md-fab md-fab-bottom-right" aria-label=”Add”>
    <ng-md-icon icon="add" ui-sref="app.events.create"></ng-md-icon>
</md-button>


</body>
</html>