<script type="text/ng-template" id="error-messages">
    <div ng-message="required">This field is required</div>
    <div ng-message="minlength">This field is too short</div>
    <div ng-message="maxlength">This field is too long</div>
</script>

<div layout="row">

    <div ng-if="!ctrlHeader.isAuthenticated()" layout="column" layout-margin>
        <a href="#/login">Login</a>
    </div>

    <div ng-if="ctrlHeader.isAuthenticated()" layout="column" layout-margin>
        <a href="#/logout">Logout</a>
    </div>

    <div layout="column" layout-margin><a href="#/products">Products</a></div>

    <div layout="column" layout-margin><a href="#/customers">Customers</a></div>

    <div layout="column" layout-margin><a href="#/workorders">Work Orders</a></div>

    <div layout="column" layout-margin><a href="#/reports">Reports</a></div>

</div>