<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Materials</title>
</head>
<body>

<div layout="row">
    <md-subheader class="md-primary">Materials</md-subheader>
</div>

<md-list>
    <md-list-item class="md-3-line" ng-repeat="m in ctrlMaterial.materials">
        <div class="md-list-item-text" layout="column">
            <h3><a ui-sref="app.materials.detail({materialId: m.id})" class="nounderline">{{m.name}}</a></h3>
            <h4>
                <ng-md-icon icon="attach_money" aria-label="Unit Cost"></ng-md-icon>&nbsp;{{m.unit_cost}} per <strong>{{m.unit.name}}</strong>
            </h4>
        </div>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>


</body>
</html>