<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Materials</title>
</head>
<body>
<div layout="row">
    <div flex>Name</div>
    <div flex>Unit Cost</div>
    <div flex>Unit</div>

</div>

<div ng-repeat="m in ctrlMaterial.materials" layout="row">
    <div flex><a ui-sref="app.materials.detail({materialId: m.id})">{{m.name}}</a></div>
    <div flex>{{m.unit_cost}}</div>
    <div flex>{{m.unit.name}}</a></div>
</div>

<md-button class="md-fab md-fab-bottom-right" aria-label=”Add”>
    <ng-md-icon icon="add" ui-sref="app.materials.create"></ng-md-icon>
</md-button>


</body>
</html>