<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Material Create</title>
</head>
<body>
<h2>Material create</h2>

<md-input-container class="md-block" flex-gt-sm>
    <label>Name</label>
    <input type="text" ng-model="ctrlMaterialCreate.material.name"/>
</md-input-container>

<div layout="row">

    <div flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Unit Cost</label>
            <input type="text" ng-model="ctrlMaterialCreate.material.unit_cost"/>
        </md-input-container>
    </div>

    <div flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Unit</label>
            <md-select ng-model="ctrlMaterialCreate.material.unit_id">
                <md-option ng-repeat="u in ctrlMaterialCreate.units" value="{{u.id}}">
                    {{u.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
</div>

<div layout="row">
    <div flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Type</label>
            <md-select ng-model="ctrlMaterialCreate.material.material_type_id">
                <md-option ng-repeat="mt in ctrlMaterialCreate.materialtypes" value="{{mt.id}}">
                    {{mt.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
</div>



<br/>
<md-button class="md-raised md-primary" ng-click="ctrlMaterialCreate.createMaterial()">Submit</md-button>
<md-button class="md-raised" ui-sref="app.materials">Cancel</md-button>
</body>
</html>