<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Type Create</title>
</head>
<body>
<h2>Payment Type create</h2>

<md-input-container class="md-block" flex-gt-sm>
    <label>Name</label>
    <input type="text" ng-model="ctrlPaymentTypeCreate.paymenttype.name"/>
</md-input-container>

<div layout="row" layout-xs="column">
    <div flex layout="column">
        <md-button class="md-raised md-primary" ng-click="ctrlPaymentTypeCreate.createPaymentType()">Submit</md-button>
    </div>
    <div flex layout="column">
        <md-button class="md-raised" ui-sref="app.paymenttypes">Cancel</md-button>
    </div>
</div>



</body>
</html>