<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Create</title>
</head>
<body>
<h2>Product create</h2>
<form name="ctrlProductCreate.form1" novalidate>
<div layout="row">
    <div flex>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Product Name</label>
            <input type="text" name="productname" ng-model="ctrlProductCreate.product.name" required ng-minlength="5" ng-maxlength="200"/>

            <div ng-messages="ctrlProductCreate.form1.productname.$error" role="alert" ng-show="ctrlProductCreate.form1.productname.$touched || ctrlProductCreate.form1.$submitted">
                <div ng-messages-include="error-messages"></div>
            </div>

        </md-input-container>


    </div>

    <div flex>

        <md-input-container class="md-block" flex-gt-sm>
            <label>SKU</label>
            <input type="text" ng-model="ctrlProductCreate.product.sku" name="sku" required ng-minlength="1" ng-maxlength="100"/>

            <div ng-messages="ctrlProductCreate.form1.sku.$error" role="alert" ng-show="ctrlProductCreate.form1.sku.$touched || ctrlProductCreate.form1.$submitted">
                <div ng-messages-include="error-messages"></div>
            </div>

        </md-input-container>



    </div>
</div>

<div layout="row">
    <div flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Price</label>
            <input type="text" ng-model="ctrlProductCreate.product.price" name="price" required ng-pattern="ctrlProductCreate.decimalRegex"/>

            <div ng-messages="ctrlProductCreate.form1.price.$error" role="alert" ng-show="ctrlProductCreate.form1.price.$touched || ctrlProductCreate.form1.$submitted">
                <div class="errorMessage" ng-message="pattern">This field must be a number</div>
                <div ng-messages-include="error-messages"></div>
            </div>

        </md-input-container>

    </div>

    <div flex>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Cost</label>
            <input type="text" ng-model="ctrlProductCreate.product.cost" name="cost" required ng-pattern="ctrlProductCreate.decimalRegex"/>

            <div ng-messages="ctrlProductCreate.form1.cost.$error" role="alert" ng-show="ctrlProductCreate.form1.cost.$touched || ctrlProductCreate.form1.$submitted">
                <div class="errorMessage" ng-message="pattern">This field must be a number</div>
                <div ng-messages-include="error-messages"></div>
            </div>

        </md-input-container>

    </div>
</div>
<div layout="row">
    <div layout="row">
        <div flex>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Minimum Stock</label>
                <input type="text" ng-model="ctrlProductCreate.product.minimum_stock" name="minimum_stock" ng-pattern="ctrlProductCreate.numericRegex"/>

                <div ng-messages="ctrlProductCreate.form1.minimum_stock.$error" role="alert" ng-show="ctrlProductCreate.form1.minimum_stock.$touched || ctrlProductCreate.form1.$submitted">
                    <div class="errorMessage" ng-message="pattern">This field must be a number</div>
                    <div ng-messages-include="error-messages"></div>
                </div>

            </md-input-container>
        </div>

        <div flex>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Current Stock</label>
                <input type="text" ng-model="ctrlProductCreate.product.current_stock" name="current_stock" ng-pattern="ctrlProductCreate.numericRegex"/>

                <div ng-messages="ctrlProductCreate.form1.current_stock.$error" role="alert" ng-show="ctrlProductCreate.form1.current_stock.$touched || ctrlProductCreate.form1.$submitted">
                    <div class="errorMessage" ng-message="pattern">This field must be a number</div>
                    <div ng-messages-include="error-messages"></div>
                </div>


            </md-input-container>
        </div>
    </div>
</div>

<div layout="row">
    <md-checkbox ng-model="ctrlProductCreate.product.is_custom" aria-label="Custom Product">
        Custom Product
    </md-checkbox>
</div>

<div layout="row">

    <md-input-container class="md-block" flex-gt-sm>
        <label>Description</label>
        <textarea ng-model="ctrlProductCreate.product.description"></textarea>
    </md-input-container>

</div>

<div layout="row">
    <div flex>

        <select ng-model="ctrlProductCreate.selectedMaterial" ng-options="p as p.name for p in ctrlProductCreate.materials"></select>

        <input type="text" name="quantity" placeholder="Quantity" ng-model="ctrlProductCreate.selectedQuantity"/>

        <md-button class="md-raised md-primary" ng-click="ctrlProductCreate.addMaterial()">Add</md-button>
    </div>
</div>


<div layout="row" ng-repeat="pm in ctrlProductCreate.product.product_materials">
    <div flex>
        {{pm.material.name}} x {{pm.quantity}} (@{{pm.material.unit_cost}} each = ${{pm.material.unit_cost * pm.quantity }} )
        (<a href="#" ng-click="ctrlProductCreate.deleteMaterial($event, pm.material_id)">Delete</a>)
    </div>

</div>


<div layout="row" layout-xs="column">
    <div flex layout="column">
        <md-button class="md-raised md-primary" ng-click="ctrlProductCreate.createProduct()">Submit</md-button>
    </div>
    <div flex layout="column">
        <md-button class="md-raised" ui-sref="app.products">Cancel</md-button>
    </div>
</div>
</form>

</body>
</html>