<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <div layout="row">
    <md-subheader class="md-primary">Products</md-subheader>
    </div>

    <div layout="row">
        <input type="search" ng-model="q" placeholder="filter products..." aria-label="filter products" />
    </div>

    <md-table-container>
        <table md-table>
            <thead md-head md-order="productOrder">
            <tr md-row>
                <th md-column md-order-by="name">Product</th>
                <th md-column md-order-by="price">Price</th>
                <th md-column md-order-by="cost">Cost</th>
                <th md-column md-order-by="current_stock">Current Stock</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="p in ctrlProduct.products | orderBy: productOrder | filter:q as results">
                <td md-cell><a ui-sref="app.products.detail({productId: p.id})" class="nounderline">{{p.name | truncateName:25}}</a></td>
                <td md-cell>{{p.price}}</td>
                <td md-cell>{{p.cost}}</td>
                <td md-cell>{{p.current_stock}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

</body>
</html>