<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>
</head>
<body>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>Overdue P.O's</md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                            <tr md-row>
                                <th md-column></th>
                                <th md-column>Customer</th>
                                <th md-column>Total</th>
                                <th md-column>Pickup Date</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row ng-repeat="o in ctrlReport.overduePurchaseOrders">
                                <td md-cell><a ui-sref="app.purchaseorders.detail({purchaseOrderId: o.id})" class="nounderline">P.O #{{o.id}}</a></td>
                                <td md-cell><a ui-sref="app.customers.detail({customerId: o.customer_id})" class="nounderline">{{o.first_name}} {{o.last_name}}</a></td>
                                <td md-cell>${{o.total}}</td>
                                <td md-cell>{{o.pickup_date | amDateFormat:'MM-DD-YYYY'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>Monthly Income</md-card-title>
                <md-card-content>

                    <div>
                        {{ctrlReport.curMonthlyIncomeMonth | amDateFormat:'MMM YYYY'}} - ${{ctrlReport.curMonthlyIncomeTotal}}
                    </div>

                    <div>
                        <md-button class="md-fab md-mini md-primary" ng-disabled="ctrlReport.curMonthlyIncomePos === 0" ng-click="ctrlReport.changeMonthlyIncome(-1)" aria-label="Prev">
                            <ng-md-icon icon="chevron_left"></ng-md-icon>
                        </md-button>
                        <md-button class="md-fab md-mini md-primary" ng-disabled="ctrlReport.curMonthlyIncomePos === ctrlReport.monthlyIncomes.length - 1" ng-click="ctrlReport.changeMonthlyIncome(1)" aria-label="Next">
                            <ng-md-icon icon="chevron_right"></ng-md-icon>
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>Outstanding Payments</md-card-title>
                <md-card-content>

                    <div>
                        {{ctrlReport.curMonthlyOutstandingMonth | amDateFormat:'MMM YYYY'}} - ${{ctrlReport.curMonthlyOustandingTotal}}
                    </div>

                    <div>
                        <md-button class="md-fab md-mini md-primary" ng-disabled="ctrlReport.curMonthlyOutstandingPos === 0" ng-click="ctrlReport.changeMonthlyOutstanding(-1)" aria-label="Prev">
                            <ng-md-icon icon="chevron_left"></ng-md-icon>
                        </md-button>
                        <md-button class="md-fab md-mini md-primary" ng-disabled="ctrlReport.curMonthlyOutstandingPos === ctrlReport.outstandingPayments.length - 1" ng-click="ctrlReport.changeMonthlyOutstanding(1)" aria-label="Next">
                            <ng-md-icon icon="chevron_right"></ng-md-icon>
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>
                    <md-card-title-text>Other Reports</md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <ul>
                        <li><a href="#/reports/currentstock">Stock Report</a></li>
                        <li><a href="#/reports/sales">Sales Report</a></li>
                        <li><a href="#/reports/salesbymonth">Sales by Month</a></li>
                        <li><a href="#/reports/incomebymonth">Income by Month</a></li>
                        <li><a href="#/reports/weekworkorders">Weekly Work Orders</a></li>
                        <li><a href="#/reports/productprofitpercents">Product Profit %</a></li>
                    </ul>
                </md-card-content>
            </md-card>



        </div>
        <div flex-xs flex-gt-xs="50" layout="column">

            <md-card>
                <md-content>
                    <highchart id="topSelling" config="ctrlReport.topSellingChartConfig" class="span10"></highchart>
                </md-content>
            </md-card>

            <!--
            <md-card>
                <md-card-title>
                    <md-card-title-text>Worst Selling Products</md-card-title-text>
                </md-card-title>
                <md-content>
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                            <tr md-row>
                                <th md-column>Product</th>
                                <th md-column>Sold</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row ng-repeat="p in ctrlReport.worstSellingProducts">
                                <td md-cell><a ui-sref="app.products.detail({productId: p.product_id})" class="nounderline">{{p.name}}</a></td>
                                <td md-cell>{{p.pcount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </md-content>
            </md-card>
            -->

            <md-card>
                <md-card-title>
                    <md-card-title-text>Daily Sales Report</md-card-title-text>
                </md-card-title>
                <md-content>
                    <md-datepicker ng-model="ctrlReport.daily_sales_from_date"
                                   md-placeholder="From">
                    </md-datepicker>

                    <md-datepicker ng-model="ctrlReport.daily_sales_to_date"
                                   md-placeholder="To">
                    </md-datepicker>
                    <br/>
                    <md-button class="md-raised md-primary" ng-click="ctrlReport.getDailySalesCsv($event)">Submit</md-button>

                    <md-table-container ng-show="ctrlReport.dayreports">
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column>Date</th>
                                    <th md-column>Orders</th>
                                    <th md-column>Total</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="d in ctrlReport.dayreports">
                                    <td md-cell>{{d.podate}}</td>
                                    <td md-cell>{{d.pocount}}</td>
                                    <td md-cell>{{d.daytotal}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                </md-content>
            </md-card>

        </div>
    </md-content>


</body>
</html>