<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work Orders</title>
</head>
<body>
<div>

    <div layout="row">
        <md-subheader class="md-primary">Work Orders</md-subheader>
    </div>

    <div layout="row">
        <input type="search" ng-model="q" placeholder="filter WO's..." aria-label="filter WO's" />
        <input id="cbShowComplete" ng-model="ctrlWorkOrder.showComplete" type="checkbox" ng-change="ctrlWorkOrder.toggleCompleteOnly(ctrlWorkOrder.showComplete)"/><label for="cbShowComplete">Show Complete</label>
    </div>

    <md-table-container>
        <table md-table>
            <thead md-head>
                <tr md-row>
                    <th md-column></th>
                    <th md-column>Product</th>
                    <th md-column>Customer</th>
                    <th md-column>Start Date</th>
                    <th md-column>End Date</th>
                    <th md-column>Complete</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="w in ctrlWorkOrder.workorders | filter:q as results" ng-show="ctrlWorkOrder.showComplete ? w.completed == 1 || w.completed == 0 : w.completed == 0">
                    <td md-cell><a ui-sref="app.workorders.detail({workOrderId: w.id})" class="nounderline">W.O #{{w.id}}</a></td>
                    <td md-cell><a ui-sref="app.products.detail({productId: w.product.id})" class="nounderline">{{w.product.name}}</a></td>
                    <td md-cell><a ui-sref="app.customers.detail({customerId: w.customer.id})" class="nounderline">{{w.customer.first_name}} {{w.customer.last_name}}</a></td>
                    <td md-cell>{{w.start_date | amDateFormat:'MM-DD-YYYY'}}</td>
                    <td md-cell><span ng-class="ctrlWorkOrder.setUrgency(w.end_date)">{{w.end_date | amDateFormat:'MM-DD-YYYY'}}</span></td>
                    <td md-cell>{{w.completed == 1 ? 'Yes' : 'No'}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

</div>


</body>
</html>