<md-dialog aria-label="Login" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Login</h2>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" ng-model="ctrlLogin.email" focus-on="focusMe">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="ctrlLogin.password" ng-keydown="($event.keyCode === 13) ? confirmDialog() : angular.noop">
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button style="margin-right:20px;" ng-click="confirmDialog()">Login</md-button>
    </md-dialog-actions>

</md-dialog>